@font-face {
  font-family: "titlefont";
  src: url("../fonts/Buildingsandundertherailwaytracksfree_ver.otf") format("opentype");
  } 
@font-face {
  font-family: "allfont";
  src: url("../fonts/NotoSansJP-Bold.ttf") format("truetype");
  }
.original-gradient {
    background: #f5deb3;
  }
body {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "allfont";
  }
.top-background {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 90;
    background-color: white;
  }
.top-bgmenu {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 90;
    width: 100%;
    height: 70;
    background-color: rgba(0, 0, 0, 0.1);
  }
.header-text {
    font-family:"titlefont";
    margin: -10px;
    font-size: 70.5;
    font-weight: bold;
    text-align: center;
    color:black;
  }
a {
  text-decoration: none;
  text-align: center;
  font-size: 45;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-left: 20;
  opacity: 1;
  z-index: 1;
  }
a:hover {
  transition-duration: 0.6s;
  color:rgb(0, 0, 0);
  }
a:not(:hover) {
  transition-duration: 0.3s;
  color:rgb(255, 255, 255)
  }
.title {
  position: relative;
  text-align: center;
  top:200px;
  font-weight:bold;
  color: #a0815a;
  }
.title-hover:hover {
  transition-duration:0.7s;
  color:#5f7ea5;
  }
.title-hover:not(:hover) {
  transition-duration:0.7s;
  color:#a0815a;
  }
.subtitle {
  display: flex;
  z-index: 6000;
  justify-content: center;
  margin: 180;
  color:#7a664c;
  white-space:nowrap;
  }
.profile-icon {
  width:250px;
  border-radius: 100%;
  margin-left: calc(-250px + 30vw);
  position: fixed;
  top:400px;
  border-width: 10px;
  border-style: inset;
  border-color:#ffd900;
}
.profileiconcenter {
  opacity: 0;
  width:300px;
  border-radius: 100%;
  border-width: 10px;
  border-style: inset;
  border-color:#ffd900;
}
.profileiconcenter-div {
  text-align: center;
}
@media screen and (max-width: 1240px) {
  .top-background {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 90;
    background-color: white;
  }
  .top-bgmenu {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 90;
    width: 100%;
    height: 60;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .header-text {
    font-family:"titlefont";
    top:15px;
    font-size: 70.5;
    font-weight: bold;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    font-size: 40;
    top: 500;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 13;
    opacity: 1;
    z-index: 1;
  }
  a:hover {
    transition-duration: 0.6s;
    color:rgb(0, 0, 0)
  }
  a:not(:hover) {
    transition-duration: 0.3s;
    color:rgb(255, 255, 255)
  }
}
@media screen and (max-width: 961px) {
  .top-background {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 90;
    background-color: white;
  }
  .top-bgmenu {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 90;
    width: 100%;
    height: 60;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .header-text {
    font-family:"titlefont";
    margin: -13px;
    font-size: 70.5;
    font-weight: bold;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    font-size: 40;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 13;
    opacity: 1;
    z-index: 1;
  }
  a:hover {
    transition-duration: 0.6s;
    color:rgb(0, 0, 0)
  }
  a:not(:hover) {
    transition-duration: 0.3s;
    color:rgb(255, 255, 255)
  }
}
@media screen and (max-width:768px) {
  .profileiconcenter {
    opacity: 1;
    margin-top: -150px;
  }
  .profile-icon {
    opacity: 0;
  }
}
@media screen and (max-width: 580px) {
  .top-background {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 16vw;
    background-color: white;
  }
  .top-bgmenu {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 16vw;
    width: 100%;
    height: calc(70px + 10vw);
    background-color: rgba(0, 0, 0, 0.1);
  }
  .header-text {
    font-family:"titlefont";
    margin: calc(-40px + 9vw);
    font-size: calc(7px + 9vw);
    font-weight: bold;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    font-size: 39;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 13;
    opacity: 1;
    z-index: 1;
  }
  a:hover {
    transition-duration: 0.6s;
    color:rgb(0, 0, 0)
  }
  a:not(:hover) {
    transition-duration: 0.3s;
    color:rgb(255, 255, 255)
  }
}